.timer {
  font-size: 1.6em;
  font-family: "Times New Roman", Times, serif;
  color: #222;
  text-shadow: 1px 3px 5px #555;
  width: auto;
  padding: 4px 8px 4px 8px;
  background-color: rgba(210, 210, 210, 0.5);
  border-radius: 6px;
  border: 2px solid #444;
  box-shadow: 2px 2px 10px 2px #222;
}

#photoview{
 position:absolute;
 z-index:1;
 top:13%;
 left:25%;
 width:50%;
 height:70%;
}
#back{
 position:absolute;
 z-index:0;
}

.controls button
{
	width: 55px;
	height: 55px;
	padding: 0px;
}

/*----- Tabs -----*/

 /*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links li {
        margin:0px 3px;
        float:left;
        list-style:none;
    }

        .tab-links a {
            padding:7px 12px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }

        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }

    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }

    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }

        .tab {
            display:none;
            text-align:left;
        }

        .tab.active {
            display:block;
        }

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
